.contenedor{
	height: auto;
	width: 100%;
	margin-top: 85px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #303539;

}

.sidebar{
	background: #303539 !important; 
	padding: 60px;
	border-radius: 10px;
}

.sidebar h3{
	font-size: 16px;
}

.nav-link{
	display: inline-block !important;
	cursor: pointer;
}

.navbar a{
	margin-left: 5px;
	transition: 0.5s;
	font-weight: bold;
	color: black;
}

.navbar a:hover{
	background: orange;
	border-radius: 10px;
}

.nav-link{
	color: #3B96DD !important;
}

.form-contact{
	width: 100%;
	padding: 50px;
	padding-bottom: 30px;
	background-image: url('https://media.istockphoto.com/vectors/blackboard-background-wooden-frame-rubbed-out-dirty-chalkboard-vector-vector-id687402644?k=6&m=687402644&s=170667a&w=0&h=tgqC5kRyrhqMpJg_82gGHcANqGnE9B7T23c3nfK00bw=');
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.titulo{
	font-size: 21px;
	font-weight: bold;
	color: orange;
	transition: 0.8s;
}

.article{
	text-align: justify;
	margin-right: 30px;
	font-size: 20px;
}

#img-mision{
	border-radius: 10px;
	height: 460px;
	width: 270px;
}

#img-vision{
	height: 220px;
	width: 280px;
	border-radius: 20px;
}


.lista{
	text-align: justify;
	font-size: 23px;
}
.form-contact-how-work{
	width: 100%;
	background-color: #CCC;
	padding: 50px;
	background-image: url('https://media.istockphoto.com/vectors/blackboard-background-wooden-frame-rubbed-out-dirty-chalkboard-vector-vector-id687402644?k=6&m=687402644&s=170667a&w=0&h=tgqC5kRyrhqMpJg_82gGHcANqGnE9B7T23c3nfK00bw=');
	 background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}


.formulario p{
	padding: 10px;
	font-size: 18px;
	font-family: Verdana;
}

.boton{
	border-radius: 20px;
	background: #2EC235;
	color: white;
	margin-left: 130px;
}

#logo{
	float: left;
	display: block;
	width: 80px;
	height: 40px;
}

.form-white{
	background: white;
	padding: 15px;
	color: #000;
	border-radius: 20px;
}

.form-white h3{
	padding-left: 295px;
	margin-bottom: 30px;
}

.info{
	font-family: Verdana;
	font-size: 18px;
	text-align: justify;
	color: white;
}


.sub-nav,
.sub-nav-final{
	display: block;
	margin-top: 55px;
	background-color: white;
	width: auto;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 997;
	box-shadow: 2px 2px 5px #999;
}

.sub-nav a{
	text-decoration: none;
	padding: 17px;
	font-size: 20px;
	margin-right: 90px;
	color: black;
	font-weight: bold;
	transition: 0.3s;
	float: left;
}

.sub-nav-final a{
	text-decoration: none;
	padding: 17px;
	font-size: 20px;
	margin-right: 78px;
	color: black;
	font-weight: bold;
	transition: 0.3s;
	float: left;
}
.sub-nav img,
.sub-nav-final img{
	height: 60px;
	margin-top: 3px;
	border-radius: 999px;
}

.sub-nav .logo-right,
.sub-nav-final .logo-right{
	float: right;
	height: 70px;
}

.sub-nav a:hover,
.sub-nav-final a:hover{
	background: #eee;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.sub-nav p,
.sub-nav-final p{
	font-weight: bold;
	margin-top: 14px;
	float: left;
}

.publicidad{
	width: 100%;
	padding: 25px;
}

.publicidad .titulo{
	font-weight: bold;
	font-size: 20px;
}

.publicidad img{
	width: 100%;
	height: auto;
	float: right;
}

.ventajas-de-aprender-ingles .puntos-importantes{
	background: #33ACFF;
	padding: 20px;
	height: 734px;
}

.ventajas-de-aprender-ingles h1{
	color: white;
}

.ventajas-de-aprender-ingles p{
	color: white;
	font-size: 18px;
}


.ventajas-de-aprender-ingles img{
	width: 100%;
	height: auto;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

.puntos-importantes h1{
	padding-top: 50px;
	padding-bottom: 100px;
	font-weight: bold;
}

.puntos-importantes p{
	font-size: 22px;
	padding-bottom: 100px;
	text-align: justify;
}

.far,
.fas,
.fab{
	color: orange;
	size: 100px;
}

.nuestra-escuela-online{
	padding-top: 100px;
	padding-bottom: 30px;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
	background-image: url('https://diariodepalabras.files.wordpress.com/2012/12/elefante.jpg?w=443&h=665');
	 background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

}

.nuestra-escuela-online h1{
	width: auto;
	font-size: 74px;
	padding-left: 40px;
	background: transparent;
	color: white;
}

.nuestra-escuela-online p{
	padding-left: 50px;
	color: white;
	font-size: 32px;
	padding-top: 40px;
}

.nuestra-escuela-online .boton{
	margin-left: 40%;
	font-size: 25px;
	font-weight: bold;
	border-radius: 30px;
}

.para-quien{
	margin-left: 100px;
	margin-bottom: 30px;

}

.para-quien button{
	padding-right: 10px;
}

.contenedor-acordeon{
	display: block;
	padding: 10px;
	margin: 50px;
	padding-bottom: 80px;
}


.contenedor-tabs{
	padding-bottom: 60px;
	padding-left: 80px;
	padding-right: 80px;
	background: #eee;
	margin-top: 0px !important;
}
.contenedor-tabs h1{
	padding: 10px;
	font-size: 60px;
	margin-left: 340px;
	margin-right: 372px;
	border-bottom: 2px solid #F3713B;
	margin-bottom: 80px;
	padding-top: 25px;
}

.contenedor-tabs p{
	font-size: 30px;
}

.contenedor-tabs a{
	font-size: 20px;
}

.modulos-info{
	height: 500px;
	
}
.modulos-info img{
	height: 500px;
	width: 100%;
}

.modulos-info h2{
	margin-top: 30px;
	padding-left: 250px;
	font-size: 44px;
}

.modulos-info li{
	font-size: 23px;
}

.modulos-info .modulos{
	width: auto;
}
.modulos-info .modulos a{
	padding: 40px;
}

.modulos-info .modulo .titulo a{
	text-decoration: none;
	cursor: pointer;

}

#accordion{
	margin-top: 30px;
	height: auto;
}

.modulos-botones{
	padding-left: 40px;
	height: 469px;
	padding-top: 40px;
}

.modulos-botones h2{
	padding-left: 200px;
	margin-bottom: 300px;
}
.modulos-botones a{
	text-decoration: none;
	font-size: 30px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 30px;

}

.modulos-botones a:hover{
	
	background-color: #eef;
	border-radius: 10px;
}

.modulo .titulo{
	color: #33ACFF;
	font-size: 27px;
	background: #eee;
	border: 1px solid orange;
	border-radius: 10px;
	padding-left: 0px;
	margin-bottom: 100px;
}

.modulo .subtitulo{
	color: orange;
	font-size: 25px;
}

.table{
	background-color: #eee;
}

.table td 
.table th{
	padding: 13px;
	font-size: 22px;
}

.table-h1{
	padding: 10px;
	font-size: 60px;
	margin-left: 405px;
	margin-right: 372px;
	border-bottom: 2px solid #F3713B;
	margin-bottom: 80px;
	padding-top: 25px;
}

.modulo{
	height: 920px;
	margin-top: 40px;
	margin-left: 20px;
}

.modulo .info-modulo{
	float: left;
	width: 600px;
}

.modulo .info-modulo p{
	font-size: 18px;
	text-align: justify;
}

.modulo .info-modulo h1{
	font-weight: bold;
	padding-left: 100px;
}

.modulo .info-modulo h2{
	color: #F3713B;
}

.modulo .info-modulo ol{
	text-align: justify;
	font-size: 19px;
}

.modulo .logo-right{
	margin-top: 60px;
	border-radius: 500px;
	margin-left: 40px;
	height: 300px;
	width: 400px;
}

.modulo .info-modulo .clasificacion{
	color: orange;
	margin-left: 270px;
	font-size: 21px;
}
.boton-inscribete-ya{
	padding: 10px;
	background-color: red;
	color: white;
	margin-bottom: 30px;
	font-size: 23px;
}

.caja,
.caja2,
.caja3{
	padding: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: justify;
}

.recibo-de-pago{
	padding: 20px;
	margin-left: 210px;
	margin-right: 210px;
}

.recibo-de-pago .titulo-curso{
	padding-left: 250px;
}

.recibo-de-pago .img-pago-curso{
	margin-left: 165px;
	margin-top: 20px;
}

.recibo-de-pago .precio-curso{
	font-weight: bold;
	margin-left: 157px;
	margin-top: 30px;
	font-size: 25px;
}

.recibo-de-pago .descripcion-curso{
	margin-left: 200px;
}

.recibo-de-pago button{
	margin-left: 300px;
	margin-top: 20px;
}

.mision-vision{
	padding: 140px;
}

.mision-vision p{
	font-size: 22px;
}

#img-logo{
	width: 300px;
	height: auto;
	border-radius: 10px;
}

#img-student-online{
	width: 250px;
	border-radius: 900px;
}

#img-nemotecnia{
	width: 274px;
	height: 300px;
	border-radius: 20px;
}

#img-ventajas{
	width: 367px;
	height: 350px;
	border-radius: 10px;
}


.form-confirmar-pago{
	margin-left: 100px;
	margin-right: 100px;
}

.form-confirmar-pago h3{
	margin-left: 10px;
	font-size: 25px;
}

.form-confirmar-pago .boton{
	margin-left: 350px;
}

.page-footer .fab{
	size: 30px;
	cursor: pointer;
}

#recomendation{
	height: auto;
	width: auto;
	float: right;
}